<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestSuite"  > 

             <test name="My API Testing" allow-return-values="true">
                     <classes>
                             <class name ="com.wipro.tests.NewTest" />
                             <class name ="com.wipro.tests.Dummy" />
                     </classes>
             </test>



</suite>